<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org"></html>

<head>


    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>최유리포트폴리오(YULSDAYS)</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">


    <!-- Favicon -->
    <!-- Firefox, Opera -->
    <!--<link rel="icon" type="image/jpg" href="/img/favicon/favicon-16x16.png">-->
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <style>
        video { max-width: 100%; display: block; margin: 20px auto; }
    </style>

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="preload-content">
        <div id="original-load"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breaking News Area -->
                <div class="col-12 col-sm-8">
                    <div class="breaking-news-area">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="#">Hello Everyone</a></li>
                                <li><a href="#">Welocme to YULSDAYS</a></li>
                                <li><a href="#">This is Yuri's Portfolio</a></li>
                                <li><a href="#">Enjoy my Works</a></li>
                                <li><a href="#">Have a nice day</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Top Social Area -->
                <div class="col-12 col-sm-4">
                    <div class="top-social-area">
                        <a href="http://blog.naver.com/yulscoding" data-toggle="tooltip" data-placement="bottom"
                           title="Naver">
                            <img src="/img/yulsimg/naverblog.png" style="width: 13px; height: 13px;" aria-hidden="true"></a></a>
                        <a href="http://github.com/yuri1123" data-toggle="tooltip" data-placement="bottom"
                           title="Github">
                            <img src="/img/yulsimg/githubicon.png" style="width: 13px; height: 13px;"
                                 aria-hidden="true"></a>
                        <a href="https://pinto-expansion-491.notion.site/YULS-Develop-Repository-ea81b023e6cd415fb07338fb72d1bfb6?pvs=4"
                           data-toggle="tooltip" data-placement="bottom" title="Notion">
                            <img src="/img/yulsimg/notionicon.png" style="width: 14px; height: 14px;"
                                 aria-hidden="true">
                        </a>
                        <a href="http://yulscoding.tistory.com" data-toggle="tooltip" data-placement="bottom"
                           title="Tistory">
                            <img src="/img/yulsimg/tistoryicon.png" style="width: 12px; height: 12px;"
                                 aria-hidden="true"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Logo Area -->
    <div class="logo-area text-center">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <a th:href="@{/}" class="original-logo"><img src="img/yulsimg/yulsdaylogo2.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Nav Area -->
    <div class="original-nav-area" id="stickyNav">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between">

                    <!-- Subscribe btn -->
                    <div class="subscribe-btn">
                        <a th:href="@{/contact}" class="btn subscribe-btn">Contact
                            me</a>
                    </div>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu" id="originalNav">
                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a th:href="@{/}">Home</a></li>
                                <li><a th:href="@{/aboutme}">About ME</a>
                                </li>
                                <li><a th:href="@{/skills}">Skills</a></li>
                                <li><a th:href="@{/works}">Works</a></li>
                                <li><a th:href="@{/contact}">Contact</a></li>

                            </ul>


                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->




<!-- ##### Single Blog Area Start ##### -->
<div class="single-blog-wrapper section-padding-0-100">

    <!-- Single Blog Area  -->
    <div class="single-blog-area blog-style-2 mb-50">
        <div class="single-blog-thumbnail">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                 style="height:400px" alt="Skyscrapers"/>
            <div class="post-tag-content">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- ##### Post Content Area ##### -->
            <div class="col-12 col-lg-9">
                <!-- Single Blog Area  -->
                <div class="single-blog-area blog-style-2 mb-50">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <a href="#" class="post-tag">my works 3</a>
                        <h4><a style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500;" th:href="@{/getcode}" class="post-headline">매출매입 관리자 페이지, 아하포장(Aha)</a></h4>
                        <div class="post-meta mb-50">
                            <p>Created By  <a href="#">Choi Yuri</a></p>
                        </div>


                        <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:400;font-size: 20px; color: #1d2124">프로젝트 개요</p>

                        <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;">
                            - 해당 프로젝트는 기업체의 요청을 받아 진행이 되는 프로젝트 입니다.<br>
                            - 기존에 엑셀로 관리되던 현장 작업내역들을 ERP 시스템으로 관리할 수 있도록 개발되었습니다.<br>
                            - 매입, 매출 내역관리 및 장비렌탈 현황 그리고 미수금 내역들을 볼 수 있습니다.<br>
                            - Spring Security를 활용하여 접속하는 유저들의 권한을 관리 할 수 있습니다.<br> </p>
                        <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;">
                           작업인원은 9명으로 진행한 프로젝트이며, 인사 관련 페이지를 제작하였습니다.</p>
                        <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;">
                            해당 프로젝트는 2023.02.01 ~ 2023.02.28 약 1개월 동안 진행하였습니다.</p>


                        <img src="img/yulsimg/aha1.png" alt="" >
                        <img src="img/yulsimg/aha2.png" alt="" >
                        <img src="img/yulsimg/aha3.png" alt="" >
                        <img src="img/yulsimg/aha4.png" alt="" >
                        <img src="img/yulsimg/aha5.png" alt="" >
                        <img src="img/yulsimg/aha6.png" alt="" >
                        <img src="img/yulsimg/aha7.png" alt="" >
                        <img src="img/yulsimg/aha8.png" alt="" >

                    </div>
                </div>

                <!-- About Author -->
                <div class="blog-post-author mt-100 d-flex">
                    <div class="author-thumbnail">
                        <img src="img/yulsimg/circle_yuri.jpg" alt="">
                    </div>
                    <div class="author-info">
                        <div class="line"></div>
                        <span class="author-role">I AM</span>
                        <h4><a href="#" class="author-name">Choi Yuri</a></h4>
                        <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300; font-size: 14px;">경영학과를 졸업하고 개발회사에서 인사, 총무 업무를 경험한 경력을 바탕으로 프로젝트 관리능력,
                            적극성과 학습능력, 비즈니스 이해력을 보유하고 있습니다. 고객의 니즈에 맞는 웹/앱을 개발하고,
                            제 손으로 만든 서비스로 더 멋진 세상을 만들어나가고 싶은 개발자입니다.
                        </p>
                    </div>
                </div>

            </div>

            <!-- ##### Sidebar Area ##### -->
            <div class="col-12 col-md-4 col-lg-3">
                <div class="post-sidebar-area">

                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">MY STORY</h5>
                        <a href="#"><img src="img/yulsimg/story.gif" alt=""></a>
                    </div>


                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">Tags</h5>
                        <div class="widget-content">
                            <ul class="tags">
                                <li><a href="#">FULLSTACK</a></li>
                                <li><a href="#">WEB</a></li>
                                <li><a href="#">FLUTTER</a></li>
                                <li><a href="#">NOTION</a></li>
                                <li><a href="#">SPRING</a></li>
                                <li><a href="#">BACKEND</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Single Blog Area End ##### -->

<!-- ##### Instagram Feed Area Start ##### -->
<div class="instagram-feed-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="insta-title">
                    <h5>Bravo My Life</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram Slides -->
    <div class="instagram-slides owl-carousel">
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life1.jpg" alt="" >
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life2.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life3.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life4.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life5.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life6.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life8.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>

        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life9.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life10.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life11.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life12.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life13.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life14.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life15.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life16.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life17.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life18.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life19.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>


        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life21.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>

        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life22.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life23.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life24.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life25.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life26.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life27.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life28.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>


    </div>
</div>
<!-- ##### Instagram Feed Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Footer Nav Area -->
                <div class="classy-nav-container breakpoint-off">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-center">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a th:href="@{/}">Home</a></li>
                                    <li><a href="#">MUSIC</a></li>
                                    <li><a href="#">TRAVEL</a></li>
                                    <li><a href="#">DEVELOPMENT</a></li>
                                    <li><a href="#">CHALLENGE</a></li>
                                    <li><a href="#">PLANNING</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>

                <!-- Footer Social Area -->
                <div class="footer-social-area mt-30">
                    <a href="http://blog.naver.com/yulscoding" data-toggle="tooltip" data-placement="bottom" title="Naver">
                        <img src="/img/yulsimg/naverblog.png" style="width: 13px; height: 13px;" aria-hidden="true"></a></a>
                    <a href="http://github.com/yuri1123" data-toggle="tooltip" data-placement="bottom" title="Github">
                        <img src="/img/yulsimg/githubicon.png" style="width: 13px; height: 13px;" aria-hidden="true"></a>
                    <a href="https://pinto-expansion-491.notion.site/YULS-Develop-Repository-ea81b023e6cd415fb07338fb72d1bfb6?pvs=4" data-toggle="tooltip" data-placement="bottom" title="Notion">
                        <img src="/img/yulsimg/notionicon.png" style="width: 14px; height: 14px;" aria-hidden="true">
                    </a>
                    <a href="http://yulscoding.tistory.com" data-toggle="tooltip" data-placement="bottom" title="Tistory">
                        <img src="/img/yulsimg/tistoryicon.png" style="width: 12px; height: 12px;" aria-hidden="true"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

</footer>
<!-- ##### Footer Area End ##### -->
<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

</body>

</html>