<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org"></html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>최유리포트폴리오(YULSDAYS)</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <!--<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">-->
    <!--<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">-->
    <!--<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">-->
    <!--<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">-->
    <!--<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">-->
    <!--<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">-->
    <!--<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">-->
    <!--<link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">-->
    <!--<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">-->
    <!--<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">-->
    <!--<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">-->
    <!--<link rel="manifest" href="/img/favicon/manifest.json">-->
    <!--<meta name="msapplication-TileColor" content="#ffffff">-->
    <!--<meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">-->
    <!--<meta name="theme-color" content="#ffffff">-->


    <!-- Favicon -->
    <!-- Firefox, Opera -->
    <!--<link rel="icon" type="image/jpg" href="/img/favicon/favicon-16x16.png">-->
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">


    <style>

        @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

        button {
            overflow: visible;
        }

        button, select {
            text-transform: none;
        }

        button, input, select, textarea {
            color: #5A5A5A;
            font: inherit;
            margin: 0;
        }

        input {
            line-height: normal;
        }

        textarea {
            overflow: auto;
        }


        form {
            padding: 10.5px;
            margin: 50px 0;
        }

        .email {
            float: right;
            width: 45%;
        }

        input[type='text'], [type='email'], select, textarea {
            background: none;
            border: none;
            border-bottom: solid 2px #474544;
            color: #474544;
            font-size: 1.000em;
            font-weight: 400;
            letter-spacing: 1px;
            margin: 0em 0 1.875em 0;
            padding: 0 0 0.875em 0;
            /*text-transform: uppercase;*/
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }

        input[type='text']:focus, [type='email']:focus, textarea:focus {
            outline: none;
            padding: 0 0 0.875em 0;
        }

        .message {
            float: none;
        }

        .name {
            float: left;
            width: 45%;
        }

        select {
            background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
            outline: none;
            -moz-appearance: none;
            -webkit-appearance: none;
        }

        select::-ms-expand {
            display: none;
        }

        .subject {
            width: 100%;
        }

        .telephone {
            width: 100%;
        }

        textarea {
            line-height: 150%;
            height: 150px;
            resize: none;
            width: 100%;
        }

        ::-webkit-input-placeholder {
            color: #474544;
        }

        :-moz-placeholder {
            color: #474544;
            opacity: 1;
        }

        ::-moz-placeholder {
            color: #474544;
            opacity: 1;
        }

        :-ms-input-placeholder {
            color: #474544;
        }

        #form_button {
            background: none;
            border: solid 2px #474544;
            color: #474544;
            cursor: pointer;
            display: inline-block;
            font-family: 'Helvetica', Arial, sans-serif;
            font-size: 0.875em;
            font-weight: bold;
            outline: none;
            padding: 20px 35px;
            text-transform: uppercase;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }

        #form_button:hover {
            background: #474544;
            color: #F2F3EB;
        }

        @media screen and (max-width: 768px) {
            #container {
                margin: 20px auto;
                width: 95%;
            }
        }

        @media screen and (max-width: 480px) {
            h1 {
                font-size: 26px;
            }

            .underline {
                width: 68px;
            }

            #form_button {
                padding: 15px 25px;
            }
        }

        @media screen and (max-width: 420px) {
            h1 {
                font-size: 18px;
            }


            input[type='text'], [type='email'], select, textarea {
                font-size: 0.875em;
            }
        }


        .section-title h1 {
            display: inline-block;
            font-size: 35px;
            text-transform: uppercase;
            font-weight: 700;
            color: #000000;
            margin: 0 0 5px;
            position: relative;
        }

        .section-title h1:before {
            content: '';
            left: 0;
            position: absolute;
            height: 2px;
            right: 32%;
            background-color: #50c5fc;
            bottom: 0px;
        }

        .skills .section-title h1:before {
            left: 30%;
        }


    </style>


</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="preload-content">
        <div id="original-load"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breaking News Area -->
                <div class="col-12 col-sm-8">
                    <div class="breaking-news-area">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="#">Hello Everyone</a></li>
                                <li><a href="#">Welocme to YULSDAYS</a></li>
                                <li><a href="#">This is Yuri's Portfolio</a></li>
                                <li><a href="#">Enjoy my Works</a></li>
                                <li><a href="#">Have a nice day</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Top Social Area -->
                <div class="col-12 col-sm-4">
                    <div class="top-social-area">
                        <a href="http://blog.naver.com/yulscoding" data-toggle="tooltip" data-placement="bottom"
                           title="Naver">
                            <img src="/img/yulsimg/naverblog.png" style="width: 13px; height: 13px;" aria-hidden="true"></a></a>
                        <a href="http://github.com/yuri1123" data-toggle="tooltip" data-placement="bottom"
                           title="Github">
                            <img src="/img/yulsimg/githubicon.png" style="width: 13px; height: 13px;"
                                 aria-hidden="true"></a>
                        <a href="https://pinto-expansion-491.notion.site/YULS-Develop-Repository-ea81b023e6cd415fb07338fb72d1bfb6?pvs=4"
                           data-toggle="tooltip" data-placement="bottom" title="Notion">
                            <img src="/img/yulsimg/notionicon.png" style="width: 14px; height: 14px;"
                                 aria-hidden="true">
                        </a>
                        <a href="http://yulscoding.tistory.com" data-toggle="tooltip" data-placement="bottom"
                           title="Tistory">
                            <img src="/img/yulsimg/tistoryicon.png" style="width: 12px; height: 12px;"
                                 aria-hidden="true"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Logo Area -->
    <div class="logo-area text-center">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <a th:href="@{/}" class="original-logo"><img src="img/yulsimg/yulsdaylogo2.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Nav Area -->
    <div class="original-nav-area" id="stickyNav">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between">

                    <!-- Subscribe btn -->
                    <div class="subscribe-btn">
                        <a th:href="@{/contact}" class="btn subscribe-btn">Contact
                            me</a>
                    </div>

                    <!--                    &lt;!&ndash; Subscribe Modal &ndash;&gt;-->
                    <!--                    <div class="subscribe-newsletter-area">-->
                    <!--                        <div class="modal fade" id="subsModal" tabindex="-1" role="dialog" aria-labelledby="subsModal"-->
                    <!--                              data-backdrop="static">-->
                    <!--                            <div class="modal-dialog modal-dialog-centered" role="document">-->
                    <!--                                <div class="modal-content">-->
                    <!--                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                    <!--                                            aria-hidden="true">&times;</span></button>-->
                    <!--                                    <div class="modal-body">-->
                    <!--                                        <h5 class="title">email to yuri with any message</h5>-->
                    <!--                                        <form action="#" class="newsletterForm" method="post">-->
                    <!--                                            <input type="email" name="email" id="subscribesForm2"-->
                    <!--                                                   placeholder="Your e-mail here">-->
                    <!--                                            <input type="text" name="text" id="subscribesForm"-->
                    <!--                                                   placeholder="message here">-->
                    <!--                                            <button type="submit" class="btn original-btn">send email</button>-->
                    <!--                                        </form>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu" id="originalNav">
                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a th:href="@{/}">Home</a></li>
                                <li><a th:href="@{/aboutme}">About ME</a>
                                </li>
                                <li><a th:href="@{/skills}">Skills</a></li>
                                <li><a th:href="@{/works}">Works</a></li>
                                <li><a th:href="@{/contact}">Contact</a></li>

                            </ul>


                            <!--              &lt;!&ndash; Search Form  &ndash;&gt;-->
                            <!--              <div id="search-wrapper">-->
                            <!--                <form action="#">-->
                            <!--                  <input type="text" id="search" placeholder="Search something...">-->
                            <!--                  <div id="close-icon"></div>-->
                            <!--                  <input class="d-none" type="submit" value="">-->
                            <!--                </form>-->
                            <!--              </div>-->
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->




<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container">
        <div class="row align-items-end">
            <!-- Single Blog Area -->
            <div class="col-12 ">
                <div class="single-blog-area clearfix">
                    <h1 style="font-family: 'Abril Fatface', cursive; font-size: 56px">CONTACT</h1><br>

                    <div>

                        <form id="contact_form" class="gform" method="POST" data-email="yurifrom1123@gmail.com"
                              action="https://script.google.com/macros/s/AKfycbw3WhoSc069TRF2eiP8IZNwr0JmUkD3--6YkXkuKzmtTGxreL291r_pChkmQnO-1Bwk/exec">

                            <div class="name">
                                <label for="name"></label>
                                <input type="text" placeholder="MY NAME IS" name="name" id="name_input" required>
                            </div>
                            <div class="email">
                                <label for="email"></label>
                                <input type="email" placeholder="MY EMAIL IS" name="email" id="email_input" required>
                            </div>
                            <div class="telephone">
                                <label for="name"></label>
                                <input type="text" placeholder="MY NUMBER IS" name="telephone" id="telephone_input"
                                       required>
                            </div>
                            <div class="subject">
                                <label for="subject"></label>
                                <select placeholder="Subject line" name="subject" id="subject_input" required>
                                    <option disabled hidden selected>SUBJECT IS</option>
                                    <option>프로젝트를 시작하고 싶습니다.</option>
                                    <option>질문하고 싶은 것이 있습니다.</option>
                                    <option>제안을 하고 싶습니다.</option>
                                </select>
                            </div>
                            <div class="message">
                                <label for="message"></label>
                                <textarea name="message" placeholder="I'D LIKE TO CHAT ABOUT" id="message_input"
                                          cols="30" rows="5" required></textarea>
                            </div>


                            <script type="text/javascript">
                                (function () {
                                    // get all data in form and return object
                                    function getFormData(form) {
                                        var elements = form.elements;
                                        var honeypot;

                                        var fields = Object.keys(elements).filter(function (k) {
                                            if (elements[k].name === "honeypot") {
                                                honeypot = elements[k].value;
                                                return false;
                                            }
                                            return true;
                                        }).map(function (k) {
                                            if (elements[k].name !== undefined) {
                                                return elements[k].name;
                                                // special case for Edge's html collection
                                            } else if (elements[k].length > 0) {
                                                return elements[k].item(0).name;
                                            }
                                        }).filter(function (item, pos, self) {
                                            return self.indexOf(item) == pos && item;
                                        });

                                        var formData = {};
                                        fields.forEach(function (name) {
                                            var element = elements[name];

                                            // singular form elements just have one value
                                            formData[name] = element.value;

                                            // when our element has multiple items, get their values
                                            if (element.length) {
                                                var data = [];
                                                for (var i = 0; i < element.length; i++) {
                                                    var item = element.item(i);
                                                    if (item.checked || item.selected) {
                                                        data.push(item.value);
                                                    }
                                                }
                                                formData[name] = data.join(', ');
                                            }
                                        });

                                        // add form-specific values into the data
                                        formData.formDataNameOrder = JSON.stringify(fields);
                                        formData.formGoogleSheetName = form.dataset.sheet || "responses"; // default sheet name
                                        formData.formGoogleSendEmail
                                            = form.dataset.email || ""; // no email by default

                                        return {data: formData, honeypot: honeypot};
                                    }

                                    function handleFormSubmit(event) {  // handles form submit without any jquery
                                        event.preventDefault();           // we are submitting via xhr below
                                        var form = event.target;
                                        var formData = getFormData(form);
                                        var data = formData.data;

                                        // If a honeypot field is filled, assume it was done so by a spam bot.
                                        if (formData.honeypot) {
                                            return false;
                                        }

                                        disableAllButtons(form);
                                        var url = form.action;
                                        var xhr = new XMLHttpRequest();
                                        xhr.open('POST', url);
                                        // xhr.withCredentials = true;
                                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                                        xhr.onreadystatechange = function () {
                                            if (xhr.readyState === 4 && xhr.status === 200) {
                                                form.reset();
                                                var formElements = form.querySelector(".form-elements")
                                                if (formElements) {
                                                    formElements.style.display = "none"; // hide form
                                                }
                                                var thankYouMessage = form.querySelector(".thankyou_message");
                                                if (thankYouMessage) {
                                                    thankYouMessage.style.display = "block";
                                                    alert("메일 전송에 성공했습니다. 확인 후 회신드리겠습니다.");
                                                }
                                            }
                                        };
                                        // url encode form data for sending as post data
                                        var encoded = Object.keys(data).map(function (k) {
                                            return encodeURIComponent(k) + "=" + encodeURIComponent(data[k]);
                                        }).join('&');
                                        xhr.send(encoded);
                                    }

                                    function loaded() {
                                        // bind to the submit event of our form
                                        var forms = document.querySelectorAll("form.gform");
                                        for (var i = 0; i < forms.length; i++) {
                                            forms[i].addEventListener("submit", handleFormSubmit, false);
                                        }
                                    };
                                    document.addEventListener("DOMContentLoaded", loaded, false);

                                    function disableAllButtons(form) {
                                        var buttons = form.querySelectorAll("button");
                                        for (var i = 0; i < buttons.length; i++) {
                                            buttons[i].disabled = true;
                                        }
                                    }
                                })();
                            </script>
                            <div style="display:none" class="thankyou_message">
                            </div>
                            <div class="submit">
                                <input type="submit" value="Send Message" id="form_button"/>
                            </div>
                        </form><!-- // End form -->
                    </div><!-- // End #container -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper End ##### -->

<!-- ##### Instagram Feed Area Start ##### -->
<div class="instagram-feed-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="insta-title">
                    <h5>Bravo My Life</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram Slides -->
    <div class="instagram-slides owl-carousel">
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life1.jpg" alt="" >
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life2.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life3.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life4.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life5.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life6.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life8.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>

        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life9.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life10.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life11.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life12.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life13.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life14.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life15.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life16.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life17.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life18.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life19.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>


        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life21.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>

        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life22.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life23.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life24.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life25.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life26.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life27.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life28.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>


    </div>
</div>
<!-- ##### Instagram Feed Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Footer Nav Area -->
                <div class="classy-nav-container breakpoint-off">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-center">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a th:href="@{/}">Home</a></li>
                                    <li><a href="#">MUSIC</a></li>
                                    <li><a href="#">TRAVEL</a></li>
                                    <li><a href="#">DEVELOPMENT</a></li>
                                    <li><a href="#">CHALLENGE</a></li>
                                    <li><a href="#">PLANNING</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>

                <!-- Footer Social Area -->
                <div class="footer-social-area mt-30">
                    <a href="http://blog.naver.com/yulscoding" data-toggle="tooltip" data-placement="bottom" title="Naver">
                        <img src="/img/yulsimg/naverblog.png" style="width: 13px; height: 13px;" aria-hidden="true"></a></a>
                    <a href="http://github.com/yuri1123" data-toggle="tooltip" data-placement="bottom" title="Github">
                        <img src="/img/yulsimg/githubicon.png" style="width: 13px; height: 13px;" aria-hidden="true"></a>
                    <a href="https://pinto-expansion-491.notion.site/YULS-Develop-Repository-ea81b023e6cd415fb07338fb72d1bfb6?pvs=4" data-toggle="tooltip" data-placement="bottom" title="Notion">
                        <img src="/img/yulsimg/notionicon.png" style="width: 14px; height: 14px;" aria-hidden="true">
                    </a>
                    <a href="http://yulscoding.tistory.com" data-toggle="tooltip" data-placement="bottom" title="Tistory">
                        <img src="/img/yulsimg/tistoryicon.png" style="width: 12px; height: 12px;" aria-hidden="true"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

</footer>
<!-- ##### Footer Area End ##### -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

</body>

</html>