<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org"></html>

<head>
    <th:block th:include="@{/css.html}"></th:block>

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="preload-content">
        <div id="original-load"></div>
    </div>
</div>

<th:block th:include="@{/header.html}"></th:block>



<!-- ##### Single Blog Area Start ##### -->
<div class="single-blog-wrapper section-padding-0-100">

<!--    &lt;!&ndash; Single Blog Area  &ndash;&gt;-->
<!--    <div class="single-blog-area blog-style-2 mb-50">-->
<!--        <div class="single-blog-thumbnail">-->
<!--            <img src="img/yulsimg/gletter1.jpg" alt="" style="height:600px">-->
<!--            <div class="post-tag-content">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="container">
        <div class="row">
            <!-- ##### Post Content Area ##### -->
            <div class="col-12 col-lg-9">
                <h1 style="font-family: 'Abril Fatface', cursive; font-size: 56px">COVER LETTER 1</h1><br>
                <!-- Single Blog Area  -->
                <div class="single-blog-area blog-style-2 mb-50">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <a href="#" class="post-tag">Cover Letter 1</a>
                        <h4><a style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500; font-size: 23px;" th:href="@{/coverletter1}" class="post-headline">천사가 가져다 준 선물</a></h4>
                        <div class="post-meta mb-50">
                            <p>By <a href="#">Choi Yuri</a></p>
                        </div>

                        <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;">
                            <br># 개발과의 첫 만남<br>
                            인공지능 기반 솔루션 개발 회사에서 재직 중이었습니다.
                            경영 직무에 종사하며 회사의 전체적인 프로세스에 대해 알아야 했기 때문에 개발에 대한 이해가 필요하였습니다.
                            때문에 개발 입문 도서를 통해 개발에 대해 처음 접하게 되었습니다.
                            책에는 생소한 것들이 적혀 있었지만, 이 세상에 없던 것들을 만들어내고, 많은 이들에게 도움을 줄 수 있다는 생각이 들어 관심을 갖게 되었습니다.
                            저의 손으로 만든 새로운 세상에서 많은 사람들이 내가 만든 세상에서 행복을 누릴 수 있으면 좋겠다는 생각이 들었습니다.
                        </p>

                        <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;">
                            <br># 천사를 담는 그릇<br>
                            당시 저에게 아이가 생겼고, 아이를 위해 무언가 해주고 싶다는 생각을 하게 되었습니다. 그 것이 개발에 뛰어들게 된 이유입니다.
                            FLUTTER로 모바일 어플리케이션을 만들어 보고자 했습니다.
                            처음에는 연락처 앱, 클론 인스타그램 앱 등을 만들었고, 최종적으로는 아이의 생각과 아이의 모습들을 담을 수 있는 창작물을 만들어보는 것으로 목표로 개발을 시작해보았습니다.
                            JAVA 공부를 하고, FLUTTER로 플러피버드, 플랫포머 게임을 만들어보았습니다. FLUTTER로 웹을 개발해보기도 하며, 실력을 다져나갔습니다.
                        </p>

                        <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;">
                            <br> # 웹개발을 공부하면서<br>
                            독학으로 JAVA와 FLUTTER를 공부하면서, 기본기가 부족함을 느끼고 국비 지원 학원에서 공부를 하기로 결정하였습니다.
                            자바를 공부하면서 부족함을 많이 느꼈고, 웹, 앱을 개발하기 위해서는 백엔드와 프론트엔드에 대한 지식이 모두 필요할 것이라 생각하고, 풀스택을 공부할 수 있는 과목을 수강하게 되었습니다.
                            FLUTTER 개발과는 조금 다른 부분이 있었지만, 다른 언어로 표현할 수 있다는 점들이 신기하고 재밌었습니다.
                            내가 만든 세상에 같은 데이터를 가지고 다양한 방식으로 보여주며,  없던 것들을 하나 하나 채워나가는 일도 재밌는 일이었습니다.
                            화면으로 직접 보이지는 않지만 기존에 없던 것들을 구현해냈을 때의 쾌감을 느껴 백엔드 포지션을 선택하게 되었습니다.
                        </p>

                    </div>
                </div>

                <!-- About Author -->
                <div class="blog-post-author mt-100 d-flex">
                    <div class="author-thumbnail">
                        <img src="img/yulsimg/circle_yuri.jpg" alt="">
                    </div>
                    <div class="author-info">
                        <div class="line"></div>
                        <span class="author-role">I AM</span>
                        <h4><a href="#" class="author-name">Choi Yuri</a></h4>
                        <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300; font-size: 14px;">경영학과를 졸업하고 개발회사에서 인사, 총무 업무를 경험한 경력을 바탕으로 프로젝트 관리능력,
                            적극성과 학습능력, 비즈니스 이해력을 보유하고 있습니다. 고객의 니즈에 맞는 웹/앱을 개발하고,
                            제 손으로 만든 서비스로 더 멋진 세상을 만들어나가고 싶은 개발자입니다.
                        </p>
                    </div>
                </div>

            </div>

            <!-- ##### Sidebar Area ##### -->
            <div class="col-12 col-md-4 col-lg-3">
                <div class="post-sidebar-area">

                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">MY STORY</h5>
                        <a href="#"><img src="img/yulsimg/story.gif" alt=""></a>
                    </div>


                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">Tags</h5>
                        <div class="widget-content">
                            <ul class="tags">
                                <li><a href="#">FULLSTACK</a></li>
                                <li><a href="#">WEB</a></li>
                                <li><a href="#">FLUTTER</a></li>
                                <li><a href="#">NOTION</a></li>
                                <li><a href="#">SPRING</a></li>
                                <li><a href="#">BACKEND</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Single Blog Area End ##### -->


<th:block th:include="@{/footer.html}"></th:block>


<th:block th:include="@{/js.html}"></th:block>

</body>

</html>