<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org"></html>

<head>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon/favicon.ico">
    <!-- Firefox, Opera -->
    <link rel="icon" type="image/jpg" href="/img/favicon/favicon-16x16.png">
<!--    <th:block th:include="@{/css.html}"></th:block>-->

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="original-load"></div>
        </div>
    </div>

<!--    <th:block th:include="@{/header.html}"></th:block>-->


    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <!-- Hero Slides Area -->
        <div class="hero-slides owl-carousel">
            <!-- Single Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/yulsimg/bicycle.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
<!--                                    <a href="#" data-animation="fadeInUp">lifestyle</a>-->
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">Persistence & Endurance</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/yulsimg/plan.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
<!--                                    <a href="#" data-animation="fadeInUp">lifestyle</a>-->
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">Organized</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/yulsimg/jump.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
<!--                                    <a href="#" data-animation="fadeInUp">lifestyle</a>-->
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">Challenging</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Blog Wrapper Start ##### -->
    <div class="blog-wrapper section-padding-100 clearfix">
        <div class="container">
            <div class="row align-items-end">
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-8">
                    <div class="single-blog-area clearfix mb-100">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <a  class="post-tag">MY WORKS</a>
                            <h4><a style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500; font-size: 23px;" href="#" class="post-headline">더 나은 세상을 위해 노력하기</a></h4>
                            <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300">개발을 시작하게 된 것은 아이가 생기면서 아이에게 개발로 더 좋은 세상을 선물해주고 싶었습니다.
                            처음에 자바로 공부를 시작하며 처음 웹으로 무엇인가를 표현했던 생각이 납니다. 좀 더 편하고 재미있는
                            세상에 없던 무엇인가를 개발할 수 있기까지도 계속해서 공부하며, 서비스 향상에 앞장서겠습니다.</p>
                            <a th:href="@{/works}" class="btn original-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-100">
                        <img src="img/yulsimg/ggweb.jpg" alt="">
                        <!-- Catagory Title -->
                        <div class="catagory-title">
                            <a th:href="@{/works}">PORTFOLIO WORKS</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
<!--                <div class="col-12 col-md-6 col-lg-4">-->
<!--                    <div class="single-catagory-area clearfix mb-100">-->
<!--                        <img src="img/yulsimg/ggapplication.png" alt="">-->
<!--                        &lt;!&ndash; Catagory Title &ndash;&gt;-->
<!--                        <div class="catagory-title">-->
<!--                            <a href="#">APPLICATION</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">

                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="single-blog-thumbnail">
                                    <img src="img/yulsimg/gletter1.jpg" alt="">
<!--                                    <div class="post-date">-->
<!--                                        <a href="#">12 <span>march</span></a>-->
<!--                                    </div>-->
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a  class="post-tag">Cover Letter 1</a>
                                    <h4><a style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500; font-size: 23px;"
                                           th:href="@{/coverletter1}" class="post-headline">천사가 가져다 준 선물</a></h4>
                                    <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300">
                                        이 세상에 없던 것들을 만들어내고, 많은 이들에게 도움을 줄 수 있다는 생각이 들어 관심을 갖게 되었습니다.
                                        저의 손으로 만든 새로운 세상에서 많은 사람들이 내가 만든 세상에서 행복을 누릴 수 있으면 좋겠다는 생각이 들었습니다.</p>
                                    <div class="post-meta">
<!--                                        <p>By <a href="#">james smith</a></p>-->
<!--                                        <p>3 comments</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="single-blog-thumbnail">
                                    <img src="img/yulsimg/gletter2.png" alt="">
<!--                                    <div class="post-date">-->
<!--                                        <a href="#">one <span>letter</span></a>-->
<!--                                    </div>-->
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">Cover Letter 2</a>
                                    <h4><a style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500; font-size: 23px;" th:href="@{/coverletter2}" class="post-headline">백엔드와 플러터의 융합</a></h4>
                                    <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300">
                                        경영학을 전공하면서 축적한 지식과 경험을 토대로 인사 및 회계 분야에서 경력을 쌓았습니다.
                                        그러나 기술 세계의 끊임없는 변화와 혁신은 저에게 매력적으로 다가왔습니다.</p>
                                    <div class="post-meta">
<!--                                        <p>By <a href="#">notion page url</a></p>-->
<!--                                        <p>3 comments</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="single-blog-thumbnail">
                                    <img src="img/yulsimg/gletter3.png" alt="">
<!--                                    <div class="post-date">-->
<!--                                        <a href="#">12 <span>march</span></a>-->
<!--                                    </div>-->
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a  class="post-tag">Cover Letter 3</a>
                                    <h4><a style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500; font-size: 23px;"th:href="@{/coverletter3}" class="post-headline">Flutter 웹사이트 구축 프로젝트</a></h4>
                                    <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300">
                                        FLUTTER로 웹을 만드는 프로젝트를 맡아 진행한 적이 있습니다.
                                        클라이언트의 새로운 사업을 영위하는 데 필요한 웹사이트를 구축하였습니다.</p>
                                    <div class="post-meta">
<!--                                        <p>By <a href="#">james smith</a></p>-->
<!--                                        <p>3 comments</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<!--                    &lt;!&ndash; Load More &ndash;&gt;-->
<!--                    <div class="load-more-btn mt-100 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1000ms">-->
<!--                        <a href="#" class="btn original-btn">Read More</a>-->
<!--                    </div>-->
                </div>

                <!-- ##### Sidebar Area ##### -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="post-sidebar-area">

                        <!-- Widget Area -->
<!--                        <div class="sidebar-widget-area">-->
<!--                            <form action="#" class="search-form">-->
<!--                                <input type="search" name="search" id="searchForm" placeholder="Search">-->
<!--                                <input type="submit" value="submit">-->
<!--                            </form>-->
<!--                        </div>-->

                        <!-- Widget Area -->
<!--                        <div class="sidebar-widget-area">-->
<!--                            <h5 class="title subscribe-title">Subscribe to my newsletter</h5>-->
<!--                            <div class="widget-content">-->
<!--                                <form action="#" class="newsletterForm">-->
<!--                                    <input type="email" name="email" id="subscribesForm" placeholder="Your e-mail here">-->
<!--                                    <button type="submit" class="btn original-btn">Subscribe</button>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->

                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">MY STORY</h5>
                            <a href="#"><img src="img/yulsimg/story.gif" alt=""></a>
                        </div>

<!--                        &lt;!&ndash; Widget Area &ndash;&gt;-->
<!--                        <div class="sidebar-widget-area">-->
<!--                            <h5 class="title">Latest Posts</h5>-->

<!--                            <div class="widget-content">-->

<!--                                &lt;!&ndash; Single Blog Post &ndash;&gt;-->
<!--                                <div class="single-blog-post d-flex align-items-center widget-post">-->
<!--                                    &lt;!&ndash; Post Thumbnail &ndash;&gt;-->
<!--                                    <div class="post-thumbnail">-->
<!--                                        <img src="img/blog-img/lp1.jpg" alt="">-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Post Content &ndash;&gt;-->
<!--                                    <div class="post-content">-->
<!--                                        <a href="#" class="post-tag">Lifestyle</a>-->
<!--                                        <h4><a href="#" class="post-headline">Party people in the house</a></h4>-->
<!--                                        <div class="post-meta">-->
<!--                                            <p><a href="#">12 March</a></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; Single Blog Post &ndash;&gt;-->
<!--                                <div class="single-blog-post d-flex align-items-center widget-post">-->
<!--                                    &lt;!&ndash; Post Thumbnail &ndash;&gt;-->
<!--                                    <div class="post-thumbnail">-->
<!--                                        <img src="img/blog-img/lp2.jpg" alt="">-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Post Content &ndash;&gt;-->
<!--                                    <div class="post-content">-->
<!--                                        <a href="#" class="post-tag">Lifestyle</a>-->
<!--                                        <h4><a href="#" class="post-headline">A sunday in the park</a></h4>-->
<!--                                        <div class="post-meta">-->
<!--                                            <p><a href="#">12 March</a></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; Single Blog Post &ndash;&gt;-->
<!--                                <div class="single-blog-post d-flex align-items-center widget-post">-->
<!--                                    &lt;!&ndash; Post Thumbnail &ndash;&gt;-->
<!--                                    <div class="post-thumbnail">-->
<!--                                        <img src="img/blog-img/lp3.jpg" alt="">-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Post Content &ndash;&gt;-->
<!--                                    <div class="post-content">-->
<!--                                        <a href="#" class="post-tag">Lifestyle</a>-->
<!--                                        <h4><a href="#" class="post-headline">Party people in the house</a></h4>-->
<!--                                        <div class="post-meta">-->
<!--                                            <p><a href="#">12 March</a></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; Single Blog Post &ndash;&gt;-->
<!--                                <div class="single-blog-post d-flex align-items-center widget-post">-->
<!--                                    &lt;!&ndash; Post Thumbnail &ndash;&gt;-->
<!--                                    <div class="post-thumbnail">-->
<!--                                        <img src="img/blog-img/lp4.jpg" alt="">-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Post Content &ndash;&gt;-->
<!--                                    <div class="post-content">-->
<!--                                        <a href="#" class="post-tag">Lifestyle</a>-->
<!--                                        <h4><a href="#" class="post-headline">A sunday in the park</a></h4>-->
<!--                                        <div class="post-meta">-->
<!--                                            <p><a href="#">12 March</a></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">Tags</h5>
                            <div class="widget-content">
                                <ul class="tags">
                                    <li><a href="#">FULLSTACK</a></li>
                                    <li><a href="#">WEB</a></li>
                                    <li><a href="#">FLUTTER</a></li>
                                    <li><a href="#">NOTION</a></li>
                                    <li><a href="#">SPRING</a></li>
                                    <li><a href="#">BACKEND</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper End ##### -->


<!--    <th:block th:include="@{/footer.html}"></th:block>-->


<!--    <th:block th:include="@{/js.html}"></th:block>-->

</body>

</html>