<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org"></html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>최유리포트폴리오(YULSDAYS)</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <!--<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">-->
    <!--<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">-->
    <!--<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">-->
    <!--<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">-->
    <!--<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">-->
    <!--<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">-->
    <!--<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">-->
    <!--<link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">-->
    <!--<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">-->
    <!--<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">-->
    <!--<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">-->
    <!--<link rel="manifest" href="/img/favicon/manifest.json">-->
    <!--<meta name="msapplication-TileColor" content="#ffffff">-->
    <!--<meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">-->
    <!--<meta name="theme-color" content="#ffffff">-->


    <!-- Favicon -->
    <!-- Firefox, Opera -->
    <!--<link rel="icon" type="image/jpg" href="/img/favicon/favicon-16x16.png">-->
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">


    <style>


        .horizontal-list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

        .horizontal-list li {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f2f2f2;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s, box-shadow 0.2s;
            white-space: nowrap; /* 긴 텍스트 줄바꿈 방지 */
            overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
        }

        .horizontal-list li:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .skills{
            width: 100%;
            max-width: 600px;
            padding: 0 20px;
        }
        .section-title {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 40px;
        }
        .section-title h1{
            display: inline-block;
            font-size: 35px;
            text-transform: uppercase;
            font-weight: 700;
            color: #000000;
            margin: 0 0 5px;
            position: relative;
        }
        .section-title h1:before{
            content: '';
            left: 0;
            position: absolute;
            height: 2px;
            right: 32%;
            background-color: #50c5fc;
            bottom: 0px;
        }
        .skills .section-title h1:before{
            left: 30%;
        }
        .text-center{
            text-align: center;
        }
        .skill-name{
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 20px 0;
        }
        .skill-bar{
            height: 15px;
            background: #cacaca;
            border-radius: 8px;

        }
        .skill-per{
            height: 15px;
            background-color: #000000;
            border-radius: 8px;
            width: 0;
            transition: 1s linear;
            position: relative;
        }
        .skill-per::before{
            content: attr(per);
            position: absolute;
            padding: 4px 6px;
            background-color: #000;
            color: #fff;
            font-size: 12px;
            border-radius: 4px;
            top: -35px;
            right: 0;
            transform: translateX(50%);
        }
        .skill-per::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: #000;
            border-radius: 2px;
            top: -16px;
            right: 0;
            transform: translateX(50%) rotate(45deg);
        }

    </style>


</head>

<body>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const items = document.querySelectorAll(".horizontal-list li");
        items.forEach(item => {
            const textLength = item.textContent.length;
            const paddingValue = 10 + (20 / textLength); // 여백 계산
            item.style.padding = `10px ${paddingValue}px`;
        });
    });
</script>

<!-- Preloader -->
<div id="preloader">
    <div class="preload-content">
        <div id="original-load"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breaking News Area -->
                <div class="col-12 col-sm-8">
                    <div class="breaking-news-area">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="#">Hello Everyone</a></li>
                                <li><a href="#">Welocme to YULSDAYS</a></li>
                                <li><a href="#">This is Yuri's Portfolio</a></li>
                                <li><a href="#">Enjoy my Works</a></li>
                                <li><a href="#">Have a nice day</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Top Social Area -->
                <div class="col-12 col-sm-4">
                    <div class="top-social-area">
                        <a href="http://blog.naver.com/yulscoding" data-toggle="tooltip" data-placement="bottom"
                           title="Naver">
                            <img src="/img/yulsimg/naverblog.png" style="width: 13px; height: 13px;" aria-hidden="true"></a></a>
                        <a href="http://github.com/yuri1123" data-toggle="tooltip" data-placement="bottom"
                           title="Github">
                            <img src="/img/yulsimg/githubicon.png" style="width: 13px; height: 13px;"
                                 aria-hidden="true"></a>
                        <a href="https://pinto-expansion-491.notion.site/YULS-Develop-Repository-ea81b023e6cd415fb07338fb72d1bfb6?pvs=4"
                           data-toggle="tooltip" data-placement="bottom" title="Notion">
                            <img src="/img/yulsimg/notionicon.png" style="width: 14px; height: 14px;"
                                 aria-hidden="true">
                        </a>
                        <a href="http://yulscoding.tistory.com" data-toggle="tooltip" data-placement="bottom"
                           title="Tistory">
                            <img src="/img/yulsimg/tistoryicon.png" style="width: 12px; height: 12px;"
                                 aria-hidden="true"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Logo Area -->
    <div class="logo-area text-center">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <a href="index.html" class="original-logo"><img src="img/yulsimg/yulsdaylogo2.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Nav Area -->
    <div class="original-nav-area" id="stickyNav">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between">

                    <!-- Subscribe btn -->
                    <div class="subscribe-btn">
                        <a href="contact.html" class="btn subscribe-btn">Contact
                            me</a>
                    </div>

                    <!--                    &lt;!&ndash; Subscribe Modal &ndash;&gt;-->
                    <!--                    <div class="subscribe-newsletter-area">-->
                    <!--                        <div class="modal fade" id="subsModal" tabindex="-1" role="dialog" aria-labelledby="subsModal"-->
                    <!--                              data-backdrop="static">-->
                    <!--                            <div class="modal-dialog modal-dialog-centered" role="document">-->
                    <!--                                <div class="modal-content">-->
                    <!--                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                    <!--                                            aria-hidden="true">&times;</span></button>-->
                    <!--                                    <div class="modal-body">-->
                    <!--                                        <h5 class="title">email to yuri with any message</h5>-->
                    <!--                                        <form action="#" class="newsletterForm" method="post">-->
                    <!--                                            <input type="email" name="email" id="subscribesForm2"-->
                    <!--                                                   placeholder="Your e-mail here">-->
                    <!--                                            <input type="text" name="text" id="subscribesForm"-->
                    <!--                                                   placeholder="message here">-->
                    <!--                                            <button type="submit" class="btn original-btn">send email</button>-->
                    <!--                                        </form>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu" id="originalNav">
                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a th:href="@{aboutme}">About ME</a>
                                </li>
                                <li><a href="skills.html">Skills</a></li>
                                <li><a href="works.html">Works</a></li>
                                <li><a href="contact.html">Contact</a></li>

                                </li>
                                </li>
                            </ul>

                            <!--              &lt;!&ndash; Search Form  &ndash;&gt;-->
                            <!--              <div id="search-wrapper">-->
                            <!--                <form action="#">-->
                            <!--                  <input type="text" id="search" placeholder="Search something...">-->
                            <!--                  <div id="close-icon"></div>-->
                            <!--                  <input class="d-none" type="submit" value="">-->
                            <!--                </form>-->
                            <!--              </div>-->
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->






<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container">
        <div class="row align-items-end">
            <!-- Single Blog Area -->
            <div class="col-12 ">
                <div class="single-blog-area clearfix mb-100">
                    <h1 style="font-family: 'Abril Fatface', cursive; font-size: 56px">SKILLS</h1><br>
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <a href="#" class="post-tag">My Speciality</a>
                        <h4><a href="#" class="post-headline">This is my skills in development</a></h4>
                        <div class="row mb-3">
                            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
<!--                                <p>제 개발역량은 다음과 같습니다.</p>-->
                            </div>

                            <div class="skills col-lg-4" style="margin-left:40px">

                                <div class="skill">
                                    <div class="skill-name">Backend</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" per="80"></div>
                                    </div>
                                </div>

                                <div class="skill">
                                    <div class="skill-name">Frontend</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" per="60"></div>
                                    </div>
                                </div>


                                <div class="skill">
                                    <div class="skill-name">Application</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" per="70"></div>
                                    </div>
                                </div>

<!--                                <div class="skill">-->
<!--                                    <div class="skill-name">Bootstrap</div>-->
<!--                                    <div class="skill-bar">-->
<!--                                        <div class="skill-per" per="65"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>

                            <div class="col-lg-1">

                            </div>
                        <div class="skills col-lg-6">

                            <!-- Widget Area -->
                            <div class="sidebar-widget-area">
<!--                                <h5 class="title">usable</h5>-->
                                <div class="widget-content">
                                    <ul class="horizontal-list">
                                        <li><a href="#">FLUTTER</a></li>
                                        <li><a href="#">SPRING</a></li>
                                        <li><a href="#">SPRINGBOOT</a></li>
                                        <li><a href="#">BOOTSTRAP</a></li>
                                        <li><a href="#">DART</a></li>
                                        <li><a href="#">SECURITY</a></li>
                                        <li><a href="#">JQUERY</a></li>
                                        <li><a href="#">JAVASCRIPT</a></li>
                                        <li><a href="#">JPA</a></li>
                                        <li><a href="#">GITHUB</a></li>
                                        <li><a href="#">THYMLEAF</a></li>
                                        <li><a href="#">CLOUDTYPE</a></li>
                                        <li><a href="#">MYBATIS</a></li>
                                        <li><a href="#">MYSQL</a></li>
                                        <li><a href="#">JDBC</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">INTELLIJ</a></li>
                                        <li><a href="#">FIREBASE</a></li>
                                        <li><a href="#">BOOTSTRAP</a></li>
                                        <li><a href="#">JSP</a></li>
                                        <li><a href="#">GRADLE</a></li>
                                        <li><a href="#">CHARTJS</a></li>
                                        <li><a href="#">RESTAPI</a></li>
                                        <li><a href="#">MAVEN</a></li>
                                        <li><a href="#">TOMCAT</a></li>
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">NOTION</a></li>
                                        <li><a href="#">ANDROID STUDIO</a></li>
                                    </ul>
                                </div>
                            </div>




                        </div>
                    </div>

                            <script>
                                $('.skill-per').each(function () {
                                    var $this = $(this);
                                    var per = $this.attr('per');
                                    $this.css("width", per + '%');
                                    $({ animatedValue: 0 }).animate({ animatedValue: per }, {
                                        duration: 1000,
                                        step: function () {
                                            $this.attr('per', Math.floor(this.animatedValue) + '%');

                                        },
                                        complete: function () {
                                            $this.attr('per', Math.floor(this.animatedValue) + '%');

                                        }

                                    });
                                });
                            </script>


                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper End ##### -->




<!-- ##### Instagram Feed Area Start ##### -->
<div class="instagram-feed-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="insta-title">
                    <h5>Bravo My Life</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram Slides -->
    <div class="instagram-slides owl-carousel">
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life1.jpg" alt="" >
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life2.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life3.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life4.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life5.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life6.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life8.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>

        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life9.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life10.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life11.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life12.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life13.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life14.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life15.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life16.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life17.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life18.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life19.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>


        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life21.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>

        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life22.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life23.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life24.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life25.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life26.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life27.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life28.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>


    </div>
</div>
<!-- ##### Instagram Feed Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Footer Nav Area -->
                <div class="classy-nav-container breakpoint-off">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-center">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="#">MUSIC</a></li>
                                    <li><a href="#">TRAVEL</a></li>
                                    <li><a href="#">DEVELOPMENT</a></li>
                                    <li><a href="#">CHALLENGE</a></li>
                                    <li><a href="#">PLANNING</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>

                <!-- Footer Social Area -->
                <div class="footer-social-area mt-30">
                    <a href="http://blog.naver.com/yulscoding" data-toggle="tooltip" data-placement="bottom" title="Naver">
                        <img src="/img/yulsimg/naverblog.png" style="width: 13px; height: 13px;" aria-hidden="true"></a></a>
                    <a href="http://github.com/yuri1123" data-toggle="tooltip" data-placement="bottom" title="Github">
                        <img src="/img/yulsimg/githubicon.png" style="width: 13px; height: 13px;" aria-hidden="true"></a>
                    <a href="https://pinto-expansion-491.notion.site/YULS-Develop-Repository-ea81b023e6cd415fb07338fb72d1bfb6?pvs=4" data-toggle="tooltip" data-placement="bottom" title="Notion">
                        <img src="/img/yulsimg/notionicon.png" style="width: 14px; height: 14px;" aria-hidden="true">
                    </a>
                    <a href="http://yulscoding.tistory.com" data-toggle="tooltip" data-placement="bottom" title="Tistory">
                        <img src="/img/yulsimg/tistoryicon.png" style="width: 12px; height: 12px;" aria-hidden="true"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

</footer>
<!-- ##### Footer Area End ##### -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

</body>

</html>