<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org"></html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>

<head>

    <meta charset="UTF-8">
    <title>최유리포트폴리오(YULSDAYS)</title>
    <meta name="description" content="더 나은 내일을 꿈꾸며 더 나은 개발을 하는 개발자 최유리의 포트폴리오 사이트입니다." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <!--<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">-->
    <!--<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">-->
    <!--<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">-->
    <!--<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">-->
    <!--<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">-->
    <!--<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">-->
    <!--<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">-->
    <!--<link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">-->
    <!--<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">-->
    <!--<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">-->
    <!--<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">-->
    <!--<link rel="manifest" href="/img/favicon/manifest.json">-->
    <!--<meta name="msapplication-TileColor" content="#ffffff">-->
    <!--<meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">-->
    <!--<meta name="theme-color" content="#ffffff">-->


    <!-- Favicon -->
    <!-- Firefox, Opera -->
    <!--<link rel="icon" type="image/jpg" href="/img/favicon/favicon-16x16.png">-->
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">


    <style>
        /* 이미지 컨테이너에 호버 시 이미지 확대 */
        .image-container {
            overflow: hidden;
            position: relative;
        }

        .image-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: opacity 0.3s ease;
            pointer-events: none;
        }

        .image-container:hover::before {
            opacity: 1;
        }

        .image-container img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
        }

        .image-container:hover img {
            transform: scale(1.1); /* 이미지 확대 효과 (1.1은 확대 비율) */
        }
    </style>


</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="preload-content">
        <div id="original-load"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breaking News Area -->
                <div class="col-12 col-sm-8">
                    <div class="breaking-news-area">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="#">Hello Everyone</a></li>
                                <li><a href="#">Welocme to YULSDAYS</a></li>
                                <li><a href="#">This is Yuri's Portfolio</a></li>
                                <li><a href="#">Enjoy my Works</a></li>
                                <li><a href="#">Have a nice day</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Top Social Area -->
                <div class="col-12 col-sm-4">
                    <div class="top-social-area">
                        <a href="http://blog.naver.com/yulscoding" data-toggle="tooltip" data-placement="bottom"
                           title="Naver">
                            <img src="/img/yulsimg/naverblog.png" style="width: 13px; height: 13px;" aria-hidden="true"></a></a>
                        <a href="http://github.com/yuri1123" data-toggle="tooltip" data-placement="bottom"
                           title="Github">
                            <img src="/img/yulsimg/githubicon.png" style="width: 13px; height: 13px;"
                                 aria-hidden="true"></a>
                        <a href="https://pinto-expansion-491.notion.site/YULS-Develop-Repository-ea81b023e6cd415fb07338fb72d1bfb6?pvs=4"
                           data-toggle="tooltip" data-placement="bottom" title="Notion">
                            <img src="/img/yulsimg/notionicon.png" style="width: 14px; height: 14px;"
                                 aria-hidden="true">
                        </a>
                        <a href="http://yulscoding.tistory.com" data-toggle="tooltip" data-placement="bottom"
                           title="Tistory">
                            <img src="/img/yulsimg/tistoryicon.png" style="width: 12px; height: 12px;"
                                 aria-hidden="true"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Logo Area -->
    <div class="logo-area text-center">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <a th:href="@{/}" class="original-logo"><img src="img/yulsimg/yulsdaylogo2.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Nav Area -->
    <div class="original-nav-area" id="stickyNav">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between">

                    <!-- Subscribe btn -->
                    <div class="subscribe-btn">
                        <a th:href="@{/contact}" class="btn subscribe-btn">Contact
                            me</a>
                    </div>

                    <!--                    &lt;!&ndash; Subscribe Modal &ndash;&gt;-->
                    <!--                    <div class="subscribe-newsletter-area">-->
                    <!--                        <div class="modal fade" id="subsModal" tabindex="-1" role="dialog" aria-labelledby="subsModal"-->
                    <!--                              data-backdrop="static">-->
                    <!--                            <div class="modal-dialog modal-dialog-centered" role="document">-->
                    <!--                                <div class="modal-content">-->
                    <!--                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                    <!--                                            aria-hidden="true">&times;</span></button>-->
                    <!--                                    <div class="modal-body">-->
                    <!--                                        <h5 class="title">email to yuri with any message</h5>-->
                    <!--                                        <form action="#" class="newsletterForm" method="post">-->
                    <!--                                            <input type="email" name="email" id="subscribesForm2"-->
                    <!--                                                   placeholder="Your e-mail here">-->
                    <!--                                            <input type="text" name="text" id="subscribesForm"-->
                    <!--                                                   placeholder="message here">-->
                    <!--                                            <button type="submit" class="btn original-btn">send email</button>-->
                    <!--                                        </form>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu" id="originalNav">
                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a th:href="@{/}">Home</a></li>
                                <li><a th:href="@{/aboutme}">About ME</a>
                                </li>
                                <li><a th:href="@{/skills}">Skills</a></li>
                                <li><a th:href="@{/works}">Works</a></li>
                                <li><a th:href="@{/contact}">Contact</a></li>

                            </ul>


                            <!--              &lt;!&ndash; Search Form  &ndash;&gt;-->
                            <!--              <div id="search-wrapper">-->
                            <!--                <form action="#">-->
                            <!--                  <input type="text" id="search" placeholder="Search something...">-->
                            <!--                  <div id="close-icon"></div>-->
                            <!--                  <input class="d-none" type="submit" value="">-->
                            <!--                </form>-->
                            <!--              </div>-->
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->




<!--&lt;!&ndash; ##### Breadcumb Area Start ##### &ndash;&gt;-->
<!--<div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/b1.jpg);">-->
<!--    <div class="container h-100">-->
<!--        <div class="row h-100 align-items-center">-->
<!--            <div class="col-12">-->
<!--                <div class="breadcumb-content text-center">-->
<!--                    <h2>Works</h2>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; ##### Breadcumb Area End ##### &ndash;&gt;-->


<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container">
        <div class="row align-items-end">
            <!-- Single Blog Area -->
            <div class="col-12 ">
                <div class="single-blog-area clearfix mb-100">
                    <h1 style="font-family: 'Abril Fatface', cursive; font-size: 56px">WORKS</h1><br>
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <a href="#" class="post-tag">My Works</a>
                        <h4><a href="#" class="post-headline">This is my Works in development</a></h4>
                        <div class="row mb-3">
                            <!--                            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">-->
                            <!--                                <p>제 개발역량은 다음과 같습니다.</p>-->
                            <!--                            </div>-->


                            <div class="row row-cols-1 row-cols-md-2 g-4 mb-2">
                                <div class="col">
                                    <div class="card h-80">
                                        <a th:href="@{/yulshop}">
                                            <div class="image-container">
                                                <img class="card-img-top" src="/img/yulsimg/wh1_hero.jpg" alt="people"/>
                                            </div>
                                            <div class="card-body">
                                                <h5 style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500;"
                                                    class="card-title">율스샵(YULSHOP)</h5>
                                                <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;"
                                                   class="card-text">
                                                    Framework : SpringBoot <br>
                                                    Tools : IntelliJ, GitHub<br>
                                                    Project period : 2023.03.01 ~ 2023.04.30
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <a th:href="@{/kcsa}">
                                            <div class="image-container">
                                                <img src="/img/yulsimg/wbanner2.png"
                                                     class="card-img-top" alt="Palm Springs Road"/>
                                            </div>
                                            <div class="card-body">
                                                <h5 style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500;"
                                                    class="card-title">한국고객만족평가(KCSA)</h5>
                                                <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;"
                                                   class="card-text">
                                                    Framework : Flutter <br>
                                                    Tools : Android Studio, Firebase<br>
                                                    Project period : 2022.07.01 ~ 202.07.31</p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <a th:href="@{/getcode}">
                                            <div class="image-container">
                                                <img src="/img/yulsimg/wmakestudy.jpg"
                                                     class="card-img-top" alt="Los Angeles Skyscrapers"/>
                                            </div>
                                            <div class="card-body">
                                                <h5 style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500;"
                                                    class="card-title">겟코드(GETCODE)</h5>
                                                <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;"
                                                   class="card-text">
                                                    Framework : Spring <br>
                                                    Tools : IntelliJ, GitHub<br>
                                                    Project period : 2023.05.01 ~ 2023.06.30 </p>
                                            </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <a th:href="@{/aha}">
                                            <div class="image-container">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                                                     class="card-img-top" alt="Skyscrapers"/>
                                            </div>
                                            <div class="card-body">
                                                <h5 style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500;"
                                                    class="card-title">아하포장(Aha)</h5>
                                                <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;"
                                                   class="card-text">
                                                    Framework : SpringBoot <br>
                                                    Tools : IntelliJ, GitHub<br>
                                                    Project period : 2023.02.01 ~ 2023.02.28 </p>
                                            </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
<!-- ##### Blog Wrapper End ##### -->
<!-- ##### Instagram Feed Area Start ##### -->
<div class="instagram-feed-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="insta-title">
                    <h5>Bravo My Life</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram Slides -->
    <div class="instagram-slides owl-carousel">
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life1.jpg" alt="" >
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life2.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life3.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life4.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life5.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life6.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life8.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>

        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life9.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life10.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life11.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life12.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life13.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life14.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life15.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life16.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life17.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life18.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life19.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>


        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life21.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>

        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life22.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life23.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life24.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life25.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life26.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life27.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
        <!-- Single Insta Feed -->
        <div class="single-insta-feed">
            <img src="img/yulsimg/life28.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>


    </div>
</div>
<!-- ##### Instagram Feed Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Footer Nav Area -->
                <div class="classy-nav-container breakpoint-off">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-center">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a th:href="@{/}">Home</a></li>
                                    <li><a href="#">MUSIC</a></li>
                                    <li><a href="#">TRAVEL</a></li>
                                    <li><a href="#">DEVELOPMENT</a></li>
                                    <li><a href="#">CHALLENGE</a></li>
                                    <li><a href="#">PLANNING</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>

                <!-- Footer Social Area -->
                <div class="footer-social-area mt-30">
                    <a href="http://blog.naver.com/yulscoding" data-toggle="tooltip" data-placement="bottom" title="Naver">
                        <img src="/img/yulsimg/naverblog.png" style="width: 13px; height: 13px;" aria-hidden="true"></a></a>
                    <a href="http://github.com/yuri1123" data-toggle="tooltip" data-placement="bottom" title="Github">
                        <img src="/img/yulsimg/githubicon.png" style="width: 13px; height: 13px;" aria-hidden="true"></a>
                    <a href="https://pinto-expansion-491.notion.site/YULS-Develop-Repository-ea81b023e6cd415fb07338fb72d1bfb6?pvs=4" data-toggle="tooltip" data-placement="bottom" title="Notion">
                        <img src="/img/yulsimg/notionicon.png" style="width: 14px; height: 14px;" aria-hidden="true">
                    </a>
                    <a href="http://yulscoding.tistory.com" data-toggle="tooltip" data-placement="bottom" title="Tistory">
                        <img src="/img/yulsimg/tistoryicon.png" style="width: 12px; height: 12px;" aria-hidden="true"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

</footer>
<!-- ##### Footer Area End ##### -->
<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

</body>

</html>