<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org"></html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>

<head>
    <th:block th:include="@{/css.html}"></th:block>

    <style>
        /* 이미지 컨테이너에 호버 시 이미지 확대 */
        .image-container {
            overflow: hidden;
            position: relative;
        }

        .image-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: opacity 0.3s ease;
            pointer-events: none;
        }

        .image-container:hover::before {
            opacity: 1;
        }

        .image-container img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
        }

        .image-container:hover img {
            transform: scale(1.1); /* 이미지 확대 효과 (1.1은 확대 비율) */
        }
    </style>


</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="preload-content">
        <div id="original-load"></div>
    </div>
</div>

<th:block th:include="@{/header.html}"></th:block>


<!--&lt;!&ndash; ##### Breadcumb Area Start ##### &ndash;&gt;-->
<!--<div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/b1.jpg);">-->
<!--    <div class="container h-100">-->
<!--        <div class="row h-100 align-items-center">-->
<!--            <div class="col-12">-->
<!--                <div class="breadcumb-content text-center">-->
<!--                    <h2>Works</h2>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; ##### Breadcumb Area End ##### &ndash;&gt;-->


<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container">
        <div class="row align-items-end">
            <!-- Single Blog Area -->
            <div class="col-12 ">
                <div class="single-blog-area clearfix mb-100">
                    <h1 style="font-family: 'Abril Fatface', cursive; font-size: 56px">WORKS</h1><br>
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <a href="#" class="post-tag">My Works</a>
                        <h4><a href="#" class="post-headline">This is my Works in development</a></h4>
                        <div class="row mb-3">
                            <!--                            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">-->
                            <!--                                <p>제 개발역량은 다음과 같습니다.</p>-->
                            <!--                            </div>-->


                            <div class="row row-cols-1 row-cols-md-2 g-4 mb-2">
                                <div class="col">
                                    <div class="card h-80">
                                        <a th:href="@{/yulshop}">
                                            <div class="image-container">
                                                <img class="card-img-top" src="/img/yulsimg/wh1_hero.jpg" alt="people"/>
                                            </div>
                                            <div class="card-body">
                                                <h5 style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500;"
                                                    class="card-title">율스샵(YULSHOP)</h5>
                                                <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;"
                                                   class="card-text">
                                                    Framework : SpringBoot <br>
                                                    Tools : IntelliJ, GitHub<br>
                                                    Project period : 2023.03.01 ~ 2023.04.30
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <a th:href="@{/kcsa}">
                                            <div class="image-container">
                                                <img src="/img/yulsimg/wbanner2.png"
                                                     class="card-img-top" alt="Palm Springs Road"/>
                                            </div>
                                            <div class="card-body">
                                                <h5 style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500;"
                                                    class="card-title">한국고객만족평가(KCSA)</h5>
                                                <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;"
                                                   class="card-text">
                                                    Framework : Flutter <br>
                                                    Tools : Android Studio, Firebase<br>
                                                    Project period : 2022.07.01 ~ 202.07.31</p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <a th:href="@{/getcode}">
                                            <div class="image-container">
                                                <img src="/img/yulsimg/wmakestudy.jpg"
                                                     class="card-img-top" alt="Los Angeles Skyscrapers"/>
                                            </div>
                                            <div class="card-body">
                                                <h5 style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500;"
                                                    class="card-title">겟코드(GETCODE)</h5>
<!--                                                <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;"-->
<!--                                                   class="card-text">This is a longer card with supporting text below as-->
<!--                                                    a-->
<!--                                                    natural lead-in to additional content.</p>-->
                                            </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <a th:href="@{/aha}">
                                            <div class="image-container">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                                                     class="card-img-top" alt="Skyscrapers"/>
                                            </div>
                                            <div class="card-body">
                                                <h5 style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:500;"
                                                    class="card-title">아하포장(Aha)</h5>
<!--                                                <p style="font-family: 'IBM Plex Sans KR', sans-serif; font-weight:300;"-->
<!--                                                   class="card-text">-->
<!--                                                    This is a longer card with supporting text below as a natural-->
<!--                                                    lead-in to-->
<!--                                                    additional content. This content is a little bit longer.-->
<!--                                                </p>-->
                                            </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
<!-- ##### Blog Wrapper End ##### -->

<th:block th:include="@{/footer.html}"></th:block>
<th:block th:include="@{/js.html}"></th:block>

</body>

</html>